# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Generated Excel files
*.xlsx

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Testing
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Local development
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db